.Button {
  background-color: #303030;
  outline: none;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1em;
  color: white;
  cursor: pointer;
}

.Button:hover {
  background-color: #2b2b2b;
}

.Primary {
  background-color: rgb(0, 119, 255);
}

.Primary:hover {
  background-color: rgb(4, 108, 226);
}

.Success {
  background-color: rgb(14, 156, 90);
}
.Success:hover {
  background-color: rgb(14, 138, 80);
}

.Danger {
  background-color: rgb(255, 0, 64);
}

.Danger:hover {
  background-color: rgb(231, 0, 58);
}
