.FormGroup {
  margin-bottom: 15px;
}

.FormGroup label {
  display: block;
  margin-bottom: 5px;
}

.FormGroup input,
.FormGroup textarea {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 8px;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
}
