.Todo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ccc;
  padding: 8px;
  box-sizing: border-box;
}

.Todo:not(:last-child) {
  border-bottom: none;
}
